# Ignore node modules
node_modules/

# Ignore copyrighted game files in project/
project/*.zip
project/orig/
project/src/
project/build/
project/tmp/
project/final/
project/agikit-project.json

# Ignore example interim directories
example/src/
example/build/
example/tmp/
example/final/
example/agikit-project.json

# Ignore build output
viewer/dist/

# Ignore copied resources (duplicates of project/src)
viewer/public/resources/
