# Ignore node modules
node_modules/

# Ignore copyrighted game files in project/
project/*.zip
project/orig/
project/src/
project/build/
project/agikit-project.json

# Ignore template interim directories
template/src/
template/build/

# Ignore build output
viewer/dist/

# Ignore copied resources (duplicates of project/src)
viewer/public/resources/
